{% extends 'layout.html' %}

{% block body %}
        <section>
            <div class="contentBx">
                <div class="">
                    <a href="/newaffectation" class="nav-link card text-center bg-info">
                        <p>Ajouter affectation</p>
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                          <th scope="col">Matricule</th>
                          <th scope="col">Noms</th>
                          <th scope="col">Cours</th>
                          <th scope="col">Heures</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aff in affect %}
                            <tr>
                                <th scope="row">{{ aff.matricule }}</th>
                                <td>{{ aff.fullname }}</td>
                                <td>{{ aff.designation }}</td>
                                <td>{{ aff.duration }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="imgBx">
                <img src="static/img/affect.jpg" alt="ucs photo" srcset="">
            </div>
        </section>

        {% endblock %}